@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-size: inherit;
    padding: 0;
    margin: 0;
}

body {
    background-color: hsl(234, 29%, 20%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

main {
    background-color: hsl(0, 0%, 100%);
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    max-width: 1024px;
    display: flex;
    gap: 20px;
    height: 50%;
    width: 40%;
}

h2 {
    font-size: 3em;
    font-family: "Roboto", sans-serif;
}

p {
    font-family: "Roboto", sans-serif;
}

#form-info {
   width: 50%;
   height: 95%;
   justify-content: center;
   margin-left: 30px;
   display: flex;
   flex-direction: column;
   gap: 40px;
}

#image-desktop {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#image-container {
    border-radius: 20px;
    height: 95%;
    overflow: hidden;
    width: 40%;
}

#update-list {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.list-item {
    display: flex;
    flex-direction: row;
    gap: 10px;
}