@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-size: inherit;
    padding: 0;
    margin: 0;
}

body {
    background-color: hsl(234, 29%, 20%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

main {
    background-color: hsl(0, 0%, 100%);
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    max-width: 1024px;
    display: flex;
    gap: 90px;
    height: 60%;
    width: 50%;
}

h2 {
    font-size: 3.5em;
    font-family: "Roboto", sans-serif;
}

button {
    font-family: "Roboto", sans-serif;
}

p {
    font-family: "Roboto", sans-serif;
    color: hsl(235, 18%, 26%);
    font-weight: 500;
}

#form {
    flex-direction: column;
    display: flex;
    gap: 10px;
}

#input-email {
    border: solid 0.5px hsl(0, 0%,58%);
    border-radius: 7px;
    height: 50px;
}

#btn-subscribe {
    background-color: hsl(234, 29%, 20%);
    border-radius: 7px;
    cursor: pointer;
    color: white;
    border: none;
    height: 50px;
}

#form-info {
   justify-content: center;
   flex-direction: column;
   margin-left: 20px;
   display: flex;
   padding: 20px;
   height: 95%;
   width: 40%;
   gap: 20px;
}

#image-desktop {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#image-container {
    border-radius: 15px;
    overflow: hidden;
    height: 95%;
    width: 40%;
}

#update-list {
    flex-direction: column;
    display: flex;
    gap: 10px;
}

.list-item {
    flex-direction: row;
    display: flex;
    gap: 10px;
}