* {
    font-size: inherit;
    padding: 0;
    margin: 0;
}

body {
    background-color: hsl(234, 29%, 20%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

main {

    background-color: hsl(0, 0%, 100%);
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    max-width: 1024px;
    display: flex;
    gap: 50px;
    height: 50%;
    width: 40%;
}

#form-info {
   width: 50%;
}

#image-desktop {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#image-container {
    border-radius: 20px;
    height: 95%;
    overflow: hidden;
    width: 40%;
}