@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");


:root {
  --color-dark-navy: hsl(234, 29%, 20%);
  --color-charcoal: hsl(235, 18%, 26%);
  --color-grey: hsl(0, 0%, 58%);
  --color-white: hsl(0, 0%, 100%);
  --color-tomato: hsl(4, 100%, 67%);
  --color-tomato-light: hsla(5, 83%, 84%, 1);
}

* {
  font-size: inherit;
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}


body {
  background-color: var(--color-dark-navy);
  font-family: "Roboto", sans-serif;
  color: var(--color-charcoal);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form-section,
#success-modal {
  background-color: var(--color-white);
  border-radius: 25px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

#form-section {
  max-width: 1024px;
  gap: 60px;
  height: 60%;
  width: 45%; 
}

#form-section.form-container-hidden {
  display: none;
}

#success-modal {
  display: none;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start; 
  max-width: 900px;
  padding: 60px;
  width: 500px;
  height: 55%;
}

#success-modal.success-modal-showing{
  display: flex;
  animation: popIn 3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

#success-modal p {
  font-weight: 400; 
}

p {
  font-weight: 600;
}

#success-modal img {
  width: 20%;
  height: auto;
}

#success-modal span {
  font-weight: bold;
}

h1 {
  font-size: 3.5em;
  line-height: 1;
}


#email {
  display: flex;
  gap: 170px;
}

#form, 
#update-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#btn-dismiss,
#btn-subscribe {
  background-color: var(--color-dark-navy);
  color: var(--color-white);
  border-radius: 7px;
  border: none;
  cursor: pointer;
  transition: transform 0.6s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  font-weight: bold; 
}

#btn-subscribe {
  height: 50px;
  
}

#btn-dismiss {
  height: 50px;
  width: 100%; 
}


#btn-dismiss:hover,
#btn-subscribe:hover {
  transform: scale(1.05);
  background-color: var(--color-tomato);
}

#input-email {
  border: solid 0.5px var(--color-grey);
  border-radius: 7px;
  padding: 20px;
  transition: all 0.3s ease;
}

.input-error {
  background-color: var(--color-tomato-light);
  border-color: var(--color-tomato);
  color: var(--color-tomato);
}

#hidden-text {
  font-size: 12px;
  font-weight: 600;
  color: var(--color-tomato);
  opacity: 0;
  transform: translateY(-5px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#hidden-text.text-error-visible {
  opacity: 1;
  transform: translateY(0);
}

#form-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  height: 100%;
  width: 45%;
  gap: 30px;
}

#image-container {
  border-radius: 15px;
  overflow: hidden;
  height: 95%;
  width: 40%;
}

#image-desktop {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.list-item {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.9) translateY(20px); 
  }
 
  100% {
    opacity: 1;
    transform: scale(1) translateY(0); 
  }
}